@charset "UTF-8";

/* Pagina principal */
body {
  background-color: rgb(128, 18, 32);
}

.navbar {
  background-color: rgb(128, 18, 32) !important;
}

.container-fluid {
  margin-top: -20px;
}

.tit {
  margin-top: 20px;
  color: rgb(242, 234, 208);
  font-family: "Lora", serif;
  font-size: 50px;
}

li {
  font-family: "Playfair Display", serif;
  font-size: 26px;
  margin-left: 20px;
  margin-right: 80px;
}

.equipo {
  color: rgb(242, 234, 208);
  font-family: "Playfair Display", serif;
  margin-top: 10px;
  font-size: x-large;
  margin-left: -250px;
}

.fotos {
  color: rgb(242, 234, 208);
  font-family: "Playfair Display", serif;
  font-size: 20px;
  margin-top: 80px;
  margin-left: -880px;
}

.press {
  margin-left: 200px;
  margin-top: -20px;
  color: rgb(242, 234, 208);
}

.foto {
  margin-left: -850px;
  margin-top: 300px;
}

.tit3 {
  margin-top: 15px;
  color: rgb(242, 234, 208);
  font-family: "Lora", serif;
  font-size: 50px;
}

.navbar-toggler {
  background-color: rgb(128, 18, 32);
  margin-right: 20px;
}

.imagen {
  width: 600px;
  height: 500px;
  margin-top: 100px;
}

.carousel-item {
  margin-left: 450px;
  margin-top: 100px;
  width: 400px;
}

.carousel-control-prev {
  margin-left: 200px;
  margin-top: 200px;
}

.carousel-control-next {
  margin-top: 200px;
  margin-right: 200px;
}

/* footer */
.indexx {
  color: hsl(317, 100%, 6%);
  font-style: "Paprika", serif;
  text-align: center;
  margin-top: 80px;
}

.uno {
  color: hsl(317, 100%, 6%);
  font-style: "Paprika", serif;
  text-align: center;
  margin-top: 80px;
}

.tres {
  margin: 108px;
  color: hsl(317, 100%, 6%);
  font-style: "Paprika", serif;
  text-align: center;
  margin-top: 150px;
}

.cuatro {
  margin: 100px;
  color: hsl(317, 100%, 6%);
  font-style: "Paprika", serif;
  text-align: center;
  margin-top: 80px;
}

.cinco {
  margin: 240px;
  color: hsl(317, 100%, 6%);
  font-style: "Paprika", serif;
  text-align: center;
  margin-top: 235px;
}

.seis {
  margin-top: 65px;
  color: hsl(317, 100%, 6%);
  font-style: "Paprika", serif;
  text-align: center;
  margin-top: 10px;
}

/* Descuento*/
.boton {
  background-color: rgb(242, 234, 208);
  color: rgb(128, 18, 32);
  border-radius: 10px;
  border: 20px;
  margin-left: 689px;
  margin-top: 110px;
  font-size: 20px;
  font-family: "Playfair Display", serif;
}

.bton {
  background-color: rgb(242, 234, 208);
  color: rgb(128, 18, 32);
  border-radius: 10px;
  border: 20px;
  margin-left: 5px;
  margin-top: 110px;
  font-size: 20px;
  font-family: "Playfair Display", serif;
}


.btonn {
  background-color: rgb(242, 234, 208);
  color: rgb(128, 18, 32);
  border-radius: 10px;
  border: 20px;
  margin-left: 100px;
  margin-top: 260px;
  font-size: 20px;
  font-family: "Playfair Display", serif;
}

.descuento {
  margin-top: 100px;
  margin-left: 20px;
  width: 480px;
  background-color: rgb(242, 234, 208);
  padding: 10px;
  border-radius: 1px;
}

.modal {
  background-color: rgba(239, 227, 191, 0.775);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  font-size: x-large;
  margin-bottom: -200px;
  font-family: "Playfair Display", serif;
}

.OFF {
  font-family: "Playfair Display", serif;
  margin-top: -60px;
  margin-bottom: 300px;
  font-size: xx-large;
  color: rgb(128, 18, 32);
}

.comprar {
  font-size: 28px;
  font-family: "Playfair Display", serif;
  background-color: rgb(251, 251, 251);
  border-radius: 3px;
  border-color: gray;
  padding: 2px;
  text-decoration-line: none;
  color: rgb(128, 18, 32);
  text-align: center;
  flex-direction: column;
  margin-top: 250px;
}

.cerrar {
  color: rgb(128, 18, 32);
  font-size: 50px;
  margin-left: -1450px;
}

.registro {
  font-family: "Playfair Display", serif;
  color: rgb(242, 234, 208);

  margin-top: 200px;
  display: inline;
}

/*Sobre nosotros */
.texto {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: x-large;
  margin: 159px;
  margin-top: 97px;
  margin-left: 200px;
  margin-right: 200px;
  color: rgb(242, 234, 208);
  margin-bottom: 120px;
}

.tit4 {
  font-size: 40px;
  margin-top: 20px;
  color: rgb(242, 234, 208);
  font-family: "Lora", serif;
}

.ellas {
  width: 300px;
  height: 220px;
  display: flex;
  margin-left: 35px;
}

.aby {
  font-family: "Playfair Display", serif;
  font-size: x-large;
  color: rgb(242, 234, 208);
  display: inline;
  margin-top: -50px;
  margin-left: -140px;
}

.cami {
  font-family: "Playfair Display", serif;
  font-size: x-large;
  color: rgb(242, 234, 208);
  display: inline;
  margin-top: -50px;
  margin-left: -140px;
}

.juli {
  font-family: "Playfair Display", serif;
  font-size: x-large;
  color: rgb(242, 234, 208);
  display: inline;
  margin-top: -50px;
  margin-left: -140px;
}

.mary {
  font-family: "Playfair Display", serif;
  font-size: x-large;
  color: rgb(242, 234, 208);
  display: inline;
  margin-top: -50px;
  margin-left: -140px;
}

.sofi {
  font-family: "Playfair Display", serif;
  font-size: x-large;
  color: rgb(242, 234, 208);
  display: inline;
  margin-top: -50px;
  margin-left: -140px;
}

.vale {
  font-family: "Playfair Display", serif;
  font-size: x-large;
  color: rgb(242, 234, 208);
  display: inline;
  margin-top: -50px;
  margin-left: -140px;
}

.noso {
  margin-left: 70px;
}

.casa-nos {
  margin-top: 7px;
  font-size: 30px;
}

/* Contacto */
.contenedor {
  display: flex;
  flex-direction: row;
}

.maps {
  margin-top: 100px;
  margin-inline-end: 80px;
  width: 1000px;
  background-color: rgb(242, 234, 208);
  padding: 7px;
  border-radius: 10%;
}

.contactarnos {
  font-family: "Playfair Display", serif;
  font-size: x-large;
  color: rgb(242, 234, 208);
  margin: 20px;
  margin-top: 90px;
}

.contacto-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.iconos {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.datos {
  display: flex;
  flex-direction: column;
  gap: 125px;
  font-family: "Playfair Display", serif;
  font-size: x-large;
  color: rgb(242, 234, 208);
}

.imagem {
  display: block;
  width: 100px;
  margin: 20px;
}

/* Tecnicas */
img {
  border-radius: 10px;
}

.card {
  margin-top: 140px;
  text-align: center;
  background-color: rgb(128, 18, 32);
  width: 18rem;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 286px;
  height: 300px;
}

.card-body {
  font-family: "Playfair Display", serif;
  background-color: rgb(107, 12, 24);
}

.card-title {
  font-family: "Playfair Display", serif;
  color: rgb(242, 234, 208);
}

.card-text {
  font-family: "Playfair Display", serif;
  color: rgb(242, 234, 208);
}

.btn {
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px -4px 8px rgba(0, 0, 0, 0.05);
  background-color: rgb(242, 234, 208);
  color: rgb(128, 18, 32);
  align-self: center;
}

/* Comprar*/
.todo {
  display: flex;
  flex-direction: row;
}

.form-label {
  margin-top: 60px;
}

.Credito {
  font-family: "Playfair Display", serif;
  color: rgb(242, 234, 208);
  margin-left: 30px;
  margin: 20px;
  font-size: 20px;
  margin-right: 600px;
}

.form-check-label {
  margin-bottom: 40px;
  font-size: 17px;
  margin-left: 10px;
}

.tar {
  width: 600px;
  height: 100px;
  margin-top: 250px;
  margin-left: -400px;
}

.tit2 {
  font-family: "Lora", serif;
  font-size: 40px;
  color: rgb(242, 234, 208);
  margin-top: 80px;
  margin-right: -120px;
}

.tipos {
  font-family: "Lora", serif;
  font-size: 20px;
  color: rgb(242, 234, 208);
  margin-top: 170px;
}

.ftoBank {
  width: 130px;
  height: 100px;
  margin-top: 500px;
  margin-right: 300px;
  margin-left: -200px;
  display: flex;
  flex-direction: row;
}

.bank {
  margin-top: 430px;
  margin-left: -345px;
  font-family: "Lora", serif;
  color: rgb(242, 234, 208);
}

.btnn {

  color: fonod;
  border-radius: 7px;
  border: 1px;
  margin-top: 20px;
}

.comprar {
  background-color: rgb(242, 234, 208);
  ;
}

/* Media queries  */
@media screen and (max-width: 900px) {

  /* Index */
  body {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .tit {
    margin-left: 50px;
    font-size: 40px;
  }

  .fotos {
    font-size: 18px;
    margin-left: -5px;
    margin-top: -20px;
  }

  .equipo {
    margin-left: 3px;
  }

  .imagen {
    width: 300px;
    height: 300px;
  }

  .carousel-item {
    margin-left: auto;
    margin-top: 200px;
  }

  .carousel-control-prev {
    margin-top: 350px;
    margin-left: 5px;
  }

  .carousel-control-next {
    margin-right: 10px;
    margin-top: 340px;
  }

  .indexx {
    margin-top: 180px;
  }

  /* Descuento */
  .descuento {
    width: 300px;
    margin-left: 1px;
    margin-top: 90px;
  }

  .boton {
    margin-left: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .btonn {
    margin-top: 40px;
    margin-left: -20px;
  }

  .bton {
    margin-top: 250px;
  }

  .navbar-toggler {
    margin-left: 10px;
    margin-top: 10px;
  }

  .comprar {
    margin-right: 10px;
  }

  .OFF {
    font-size: 25px;
    margin-top: -60px;
    margin-bottom: 190px;
  }

  .nombre {
    margin-top: 200px;
    margin: 20px;
  }

  .correo {
    margin: 20px;
  }

  .contraseña {
    margin: 20px;
  }

  /* Sobre Nosotras */
  .texto {
    font-size: 17px;
    margin: 10px;
    margin-top: 100px;
  }

  .tit4 {
    margin-left: 10px;
    font-size: 40px;
    margin-bottom: -10px;
  }

  .ellas {
    width: 130px;
    height: 130px;
    display: table;
    margin-left: 70px;
  }

  .ellass {
    margin-left: 25px;
    width: 130px;
    height: 130px;
  }

  .aby {
    width: 100px;
    margin-left: 100px;
  }

  .cami {
    margin-left: 100px;
  }

  .juli {
    margin-left: 100px;
  }

  .mary {
    margin-left: 110px;
  }

  .sofi {
    margin-left: 110px;
  }

  .vale {
    margin-left: 110px;
  }

  /* Contactos*/
  .contactarnos {
    font-size: 17px;
    text-overflow: var(20);
    margin-left: 100px;

  }

  .iconos {
    margin-top: 10px;
    margin-right: 10px;
  }

  .imagem {
    width: 50px;
  }

  .dato1 {
    margin-top: 20px;
    font-size: 14px;
  }

  .dato2 {
    margin-top: -40px;
    font-size: 14px;
  }

  .dato3 {
    margin-top: -50px;
    font-size: 14px;
  }

  .dato4 {
    margin-top: -50px;
    font-size: 14px;
  }

  .maps {
    margin-top: 750px;
    margin-left: -240px;
  }

  .cuatro {
    margin-top: 20px;
  }

  /* Tecnicas */
  .cinco {
    margin-left: 150px;
    margin-top: 150px;
  }

  .card {
    margin-left: 70px;
    margin-top: 70px;
    width: 220px;
  }

  .card img {
    width: 220px;
    height: 200px;
  }

  .contactarnos {
    text-align: center;
  }

  /* Comprar */
  .Credito {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
  }

  .tit7 {
    font-size: 20px;
    margin-right: 922px;
    margin-top: 90px;
  }

  .seis {
    margin-left: -80px;
  }

  .tipos {
    margin-top: 920px;
    margin-left: -600px;
  }

  .tar {
    width: 300px;
    height: 100px;
    margin-top: 980px;
    margin-left: 310px;
  }

  .tit2 {
    margin-left: -920px;
    margin-top: 860px;
  }

  .ftoBank {
    margin-top: 1000px;
    margin-left: -900px;
  }

  .bank {
    margin-top: 930px;
    margin-left: -1250px;
  }
}


/*# sourceMappingURL=style.css.map */