/* resset de css */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 */

/*selector+ propiedad + valor

selector {
propiedad: valor(colores tipografias etc)
}
*/
/* h1 {
    color: rgb(121, 6, 44);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 */

/*     color: rgb(rgb(227, 63, 96), rgb(54, 57, 205), rgba(235, 239, 94, 0.986));
 */
/*     color: rgba(rgb(215, 84, 84), rgb(72, 203, 72), rgb(147, 147, 231), 1);
/*  */
/* font-size: 60px;
margin: 30px; */
/* unidades de medida |px em rem % */
/* }

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(112, 16, 31);
}

li {

    color: rgb(213, 74, 141);
}

label {

    color: rgb(216, 86, 125);
}

div {
    color: darksalmon;
}

span {
    color: royalblue;
}

div span {
    color: green;
}

.parrafos {
    text-decoration: underline;
}

.titulos {
    font-size: 1.5sem;
    font-style: unset; */
/* Relativa | al tamaño de fuente del elemento padre  | rem es relativo al tamaño de la fuente
  del elemento raiz   */
/*     font-weight: bold;
    font-family: "Playfair Display", serif;
    ;
}


.navbar {
    background-color: lightpink;

}

.navbar {
    list-style: none;
    padding: 0 auto;
    margin: 0 auto;
    flex-direction: row;

}


.navbar li a {
    display: flex;
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    justify-content: space-around;
}

.container {
    display: flex;
}

.sidebar {
    width: 25%;
    background-color: lightcoral;
    padding: 5px;
}

.main-content {
    width: 75%;
    background-color: lightcoral;
    padding: 5px;

}
 */
/* CLASE */
/* .caja {
    width: 50%;
    height: 50vh;
    background-color: lightcoral;
    border: 1px solid lightgreen;
    text-align: center;
    line-height: 100px;
    margin: 10px;
    flex-grow: 2;

}
 */

/* contenedor {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

} */

/* .grid-container { */
/*  display: grid; */
/* Definimos grid */
/*     grid-template-columns: repeat(3, 1fr); */
/* definir columnas | unidad de medida fracciones | */
/*  gap: 5px; */
/* definir filas */
/*     grid-template-rows: 50px 70px;

} */
/* 
.grid-item {
    background-color: rgb(165, 200, 229);
    border: 1px solid rgb(78, 120, 202);
    padding: 10px;
    text-align: center;
} */
/* DEFINIR CUADRICULA 
 Display:grid |define un contendero como cuaadricula 
 display:inline-grid | swe ajusta al tamaño de la pantalla 

 DEFINIR FILAS Y COLUMNAS 
 grid-template.column | define el tamaño y numero de columnas 
| ej: grid-template-columns: 100px 200px auto
 grid-template-grows | define el tamaño y numero de filas 

 ESAPCIO Y ALINEACION

 gap: |espacio entre filas y columnas
 row-gap|espacio solo entre filas
 columns-gap: |espacio entre columnas
 justify-conttent|alinear la cuadricula en el eje horizontal
 aligne-conttent| alinear la cuadricula en el eje vertical
 place-content | combina justify y el aligne


 POSICIONAMIENTO AUTOMATICO

 grid-auto-flow|define como se llena  automatiicamente los 
 elementos de la cuadricula
 valores: row,column,row dense ,column dense

 AREAS DE CUADRICULA

 grid-template-areas|header,sidebar,main y footer
 ( Son nombres diferenciales , puede ser header o gato con botas)
  */