/* index*/
/* 
body {
    background-color: #e8f5e9;
}

h1 {
    text-align: center;
    color: #f06292;
    font-size: 70px;
    height: 100px;
    width: 100%;
    margin-bottom: 150px;


}

nav li a {

    font-size: 28px;
    text-decoration-line: none;
    color: #f06292;

}

nav li {
    text-decoration-line: none;
    font-size: 30px;
    margin-left: 200px;
    display: inline;
    text-decoration: none;
} */

/* Registrarse */
/* .regi {
    text-align: center;
    color: #f06292;
    font-size: 70px;
    margin-bottom: 90px;
}

p {
    text-align: center;
    color: #eb3874;
    font-size: 20px;
    margin-bottom: 100px;

}

.gmail {
    text-align: center;
    margin-bottom: 100px;
}

.volver a {
    color: #eb3874;
    text-align: center;
    text-decoration-line: none;
    margin-left: 47%;
}

script {
    text-align: center;
} */

/* Media query */
@media (max-width: 576px) {

    .custom-style {
        background-color: blueviolet;
    }
}

@media (min-width: 577px) and (max-width:768px) {

    .custom-style {
        background-color: limegreen;
    }
}

@media (min-width: 769px) {

    .custom-style {
        background-color: lightsalmon;
    }
}