/* h1 {
    font-style: italic;
    color: rgb(43, 129, 157);
    font-size: 40px;
}

.titulo1 {
    color: black;
    font-style: inherits;
    margin: 10px;
} */
/* .titulo {
    color: brown;
    margin: 10px;
    padding: 50px;
    border: 1px solid black;
    width: 50%;
    height: 200px;
} */
/* 
.padre {
    color: brown ;
    margin: 10px;
    padding: 50px;
    border: 1px solid black;
    width: 50%;
    height: unset;
}

.hijo {
    color: rgb(255, 153, 0);
}
 */

/* background-color: burlywood;define color de fondo
 padding;ewpacio interno(relleno)
 dimensiones
 */
p {
    width: 100px;
    height: 100px;
    background-color: brown;
    position: relative;


    @keyframes mymove {
        from {
            top: 0px
        }

        to {
            right: 200px
        }
    }
}